<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des categories</h1>
    </div>
    <div class="col-md-4 m-0 p-0 text-end">
      <div>
        <app-action-buttons
          (clickEvent)="newCategory()"
        >
        </app-action-buttons>
      </div>
    </div>
  </div>
  <div class="col m-3">
    <div class="row custom-border mb-3 p-3">
      <div class="col-md-3 custom-border-end">
        Code catégorie
      </div>
      <div class="col-md-3">
        Description catégorie
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>

