<div class="row mb-1 ms-1 me-1 custom-border">
  <!--image article-->
  <div class="col-md-1 custom-border-end p-1 mb-1 mt-2 text-center">
    <img src="../../../../assets/image-produit.png" width="80px" height="80px" alt="photo produit">
  </div>
  <!--Details Adresse-->
  <div class="col-md-5 custom-border-end mb-1 mt-1">
    <div class="col pe-0 ps-0">
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11 blue-color">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11 blue-color">Prénom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
        <div class="col-md-11 blue-color">06 12 34 56 78</div>
      </div>
    </div>
  </div>
  <!--Details commandes-->
  <div class="col-md-3 custom-border-end mb-1 mt-1">
    <div class="col pe-0 ps-0">
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-qrcode blue-color"></i></div>
        <div class="col-md-11 blue-color">CMD-1234567890</div>
      </div>
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-calendar blue-color"></i></div>
        <div class="col-md-11 blue-color">22.22.2022</div>
      </div>
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-cart-plus blue-color"></i></div>
        <div class="col-md-11 blue-color">LIVREE</div>
      </div>
    </div>
  </div>

  <!--Boutons d'actions-->
  <div class="col-md-3 mb-1 mt-1 pe-0 ps-0">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-pencil-alt blue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-trash-alt blue-color"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

