<div class="d-flex">
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-warning">
      <i class="fa-solid fa-download"></i>&nbsp;Importer
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-success">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>&nbsp;Exporter
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-primary" (click)="buttonNewClick()">
      <i class="fa-solid fa-square-plus"></i>&nbsp;Nouveau
    </button>
  </div>
</div>

