<div class="col mb-3">
  <div class="col-md-12 m-3">
    <img src="../../../../assets/colis.png" class="rounded-circle" alt="image-produit" width="150px" height="150px">
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 m-3">
      <div class="row ms-0">
        <h3><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Information de l'utilisateur</h3>
      </div>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 1" aria-label="Adresse 1">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prénom" aria-label="Prénom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 2" aria-label="Adresse 2">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville" aria-label="Ville">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Code Postale" aria-label="Code Postale">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Pays" aria-label="Pays">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger me-3">
      <i class="fa-solid fa-ban"></i>&nbsp;Annuler</button>
    <button class="btn btn-primary me-3">
      <i class="fa-regular fa-floppy-disk"></i>&nbsp;Enregistrer</button>
  </div>
</div>


