<div class="row mb-1 ms-1 me-1 custom-border">
  <!--image article-->
  <div class="col-md-1 custom-border-end p-1 mb-1 mt-2 text-center">
    <img src="../../../../assets/client.png" width="80px" height="80px" alt="photo produit">
  </div>
  <!--Details article-->
  <div class="col-md-5 custom-border-end mb-1 mt-1">
    <div class="col pe-0 ps-0">
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Prénom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-square-phone blue-color"></i></div>
        <div class="col-md-11">06 12 34 56 78</div>
      </div>
    </div>
  </div>
  <!--Details Adresse-->
  <div class="col-md-3 custom-border-end mb-1 mt-1">
    <div class="col pe-0 ps-0">
      <div class="row">
        <div class="col-md-1 pe-0"><i class="fa-solid fa-house-chimney-user blue-color"></i></div>
        <div class="col-md-11">Adresse 1 Adresse 2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-map-marker blue-color"></i></div>
        <div class="col-md-11">31000 Ville</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-globe-europe blue-color"></i></div>
        <div class="col-md-11">Pays</div>
      </div>
    </div>
  </div>

  <!--Boutons d'actions-->
  <div class="col-md-3 mb-1 mt-1 pe-0 ps-0">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-list"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>

